extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/styles.min.css")
  link(rel="stylesheet", href="assets/libs/swiper-bundle.css")

block content
  include ../includes/modules/menu

  section#pre-header
    .pre-header
      .swiper.pre-header__slider
        .swiper-wrapper
          .swiper-slide
            img(src="assets/img/slide-background.png")
            .pre-header__slider__description
              .pre-header__slider__description-body
                h2 Детокс-
                  br
                  span программа
                p комплексного очищения организма от
                  span 1099
                  |руб
                a(href="#delivery").button Заказать
          .swiper-slide
            img(src="assets/img/slide-background.png")
            .pre-header__slider__description
              .pre-header__slider__description-body
                h2 Детокс-
                  br
                  span программа
                p комплексного очищения организма от
                  span 1099
                  | руб
                button.button Заказать
          .swiper-slide
            img(src="assets/img/slide-background.png")
            .pre-header__slider__description
              .pre-header__slider__description-body
                h2 Детокс-
                  br
                  span программа
                p комплексного очищения организма от
                  span 1099
                  | руб
                button.button Заказать
          .swiper-slide
            img(src="assets/img/slide-background.png")
            .pre-header__slider__description
              .pre-header__slider__description-body
                h2 Детокс-
                  br
                  span программа
                p комплексного очищения организма от
                  span 1099
                  | руб
                button.button Заказать
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
  section#recommendation
    .container
      .recommendation
        .recommendation__unit
          img(src="assets/img/rec1.png")
          p Используем только натуральные продукты, блюда без консервантов и искусственных добавок.
        .recommendation__unit
          img(src="assets/img/rec2.png")
          p Сбалансированное здоровое меню, соответствующее КБЖУ.
        .recommendation__unit
          img(src="assets/img/rec3.png")
          p По желанию подберем программу тренировок и составим индивидуальное КБЖУ для любого уровня подготовки.
        .recommendation__unit
          img(src="assets/img/rec4.png")
          p Бесплатная доставка, чтобы сэкономить массу времени и сил для более важных и приятных дел.

  section#rations
    .container
      .rations
        h2 Рационы
        ul.rations__list
          li.rations__list__unit
            img(src="assets/img/ration1.png")
            .rations__list__unit-description
              h3 Баланс
              p Здоровое питание на каждый день для тех, кто  заботится о своем ежедневном рационе.
              span ~1 800 ккал
            .rations__list__unit-panel
              h3 1 190 ₽
              button.button Выбрать
          li.rations__list__unit
            img(src="assets/img/ration2.png")
            .rations__list__unit-description
              h3 ЛАЙТ
              p Четырехразовое меню для похудения, поддержания формы и создания рельефа.
              span ~1 400 ккал
            .rations__list__unit-panel
              h3 1 050 ₽
              button.button Выбрать
          li.rations__list__unit
            img(src="assets/img/ration3.png")
            .rations__list__unit-description
              h3 Супер лайт
              p Быстрое похудение и поддержание формы. Трехразовое меню для быстрого снижения веса без спорта.
              span ~900 ккал
            .rations__list__unit-panel
              h3 890 ₽
              button.button Выбрать
          li.rations__list__unit
            img(src="assets/img/ration4.png")
            .rations__list__unit-description
              h3 масс
              p Сбалансированное питание для поддержания оптимальной формы при тренировках.
              span ~1 800 ккал
            .rations__list__unit-panel
              h3 1 490 ₽
              button.button Выбрать

  section#about-us
    .container
      .about-us
        img(src="assets/img/about-us.png")
        .about-us__description
          h3 о нас
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, neque, et leo nulla nisl. Neque parturient elementum habitasse etiam nec. Fermentum justo nam nibh vitae pellentesque integer. Imperdiet habitant tortor est amet tortor viverra. Nulla eget commodo, adipiscing arcu in et risus in.
            br
            br
            |Cras eu molestie consectetur amet at euismod. Nunc elementum lorem pharetra cursus risus eu. Ac feugiat arcu etiam eget sem urna tincidunt lacus. Nec morbi ultrices nulla accumsan adipiscing. Elementum sagittis eu placerat non molestie luctus gravida. Risus laoreet nunc lectus orci. Vitae at augue sagittis. Sed faucibus ultrices elementum faucibus varius leo, vitae. Molestie semper habitant varius eleifend nisi faucibus.
  section#delivery
    .container
      .delivery
        .delivery__description
          .delivery__description-body
            h3 Условия ДОСТАВКИ
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, neque, et leo nulla nisl. Neque parturient elementum habitasse etiam nec.
              br
              br
              |Fermentum justo nam nibh vitae pellentesque integer. Imperdiet habitant tortor est amet tortor viverra.
            button.button.feedback Связаться с нами
        .delivery__map
          <a href="https://yandex.ru/maps/?um=constructor%3Af56d9d11e7dcd407dc7e8ba044118fe0d9d060ad678914d45954a5f7f33572ac&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Af56d9d11e7dcd407dc7e8ba044118fe0d9d060ad678914d45954a5f7f33572ac&amp;width=582&amp;height=450&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
      .feedback-modal
        form.feedback-modal__form#feedback-form

          <svg class="feedback-close-button" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 1L1 13" stroke="#B8B8B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 1L13 13" stroke="#B8B8B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          h3 Форма обратной связи
          .feedback-modal__form-body
            .feedback-modal__form-input
              label( for="name") Ваше имя
                span *
              input(
                type="text"
                id="name"
                name="name"
              )
            .feedback-modal__form-input
              label( for="phone") Телефон
                span *
              input(
                type="text"
                id="phone"
                name="phone"
              )
            button.button.confirm-button(type="submit") Отправить
            p.feedback-modal__form-agreement Нажимая на кнопку, вы соглашаетесь на обработку
              br
              a(href="#") персональных данных
          .success
            p Ваша заявка успешно отправлена.
            button.button.success-modal-close Закрыть
  footer
    .container
      .footer-top
        <svg width="131" height="36" viewBox="0 0 131 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.227295 35.5209V31.6198H1.25483C2.71621 31.6198 3.8522 31.1521 4.66281 30.2167C5.47342 29.2814 6.05569 27.77 6.40962 25.6825C6.77496 23.5951 7.02043 20.8289 7.14601 17.384L7.76253 0.479088H29.1352V35.5209H24.8881V4.24335H11.8042L11.2561 18.2053C11.1191 21.8783 10.7823 25.0038 10.2457 27.5818C9.70914 30.1597 8.76723 32.1274 7.42002 33.4848C6.07281 34.8422 4.10908 35.5209 1.52884 35.5209H0.227295Z" fill="white"/>
        <path d="M67.2139 18C67.2139 21.6958 66.546 24.8897 65.2102 27.5818C63.8744 30.2738 62.0419 32.3498 59.7129 33.8099C57.3838 35.27 54.7236 36 51.7324 36C48.7411 36 46.0809 35.27 43.7519 33.8099C41.4228 32.3498 39.5904 30.2738 38.2546 27.5818C36.9188 24.8897 36.2509 21.6958 36.2509 18C36.2509 14.3042 36.9188 11.1103 38.2546 8.41825C39.5904 5.72624 41.4228 3.65019 43.7519 2.19011C46.0809 0.730038 48.7411 0 51.7324 0C54.7236 0 57.3838 0.730038 59.7129 2.19011C62.0419 3.65019 63.8744 5.72624 65.2102 8.41825C66.546 11.1103 67.2139 14.3042 67.2139 18ZM63.1037 18C63.1037 14.9658 62.5957 12.4049 61.5796 10.3175C60.5749 8.23004 59.2105 6.65019 57.4865 5.57795C55.774 4.5057 53.8559 3.96958 51.7324 3.96958C49.6088 3.96958 47.685 4.5057 45.9611 5.57795C44.2485 6.65019 42.8842 8.23004 41.8681 10.3175C40.8634 12.4049 40.361 14.9658 40.361 18C40.361 21.0342 40.8634 23.5951 41.8681 25.6825C42.8842 27.77 44.2485 29.3498 45.9611 30.4221C47.685 31.4943 49.6088 32.0304 51.7324 32.0304C53.8559 32.0304 55.774 31.4943 57.4865 30.4221C59.2105 29.3498 60.5749 27.77 61.5796 25.6825C62.5957 23.5951 63.1037 21.0342 63.1037 18Z" fill="white"/>
        <path d="M95.5224 0.479088V4.24335H78.6023V35.5209H74.3552V0.479088H95.5224Z" fill="white"/>
        <path d="M130.227 18C130.227 21.6958 129.559 24.8897 128.224 27.5818C126.888 30.2738 125.055 32.3498 122.726 33.8099C120.397 35.27 117.737 36 114.746 36C111.755 36 109.094 35.27 106.765 33.8099C104.436 32.3498 102.604 30.2738 101.268 27.5818C99.9322 24.8897 99.2643 21.6958 99.2643 18C99.2643 14.3042 99.9322 11.1103 101.268 8.41825C102.604 5.72624 104.436 3.65019 106.765 2.19011C109.094 0.730038 111.755 0 114.746 0C117.737 0 120.397 0.730038 122.726 2.19011C125.055 3.65019 126.888 5.72624 128.224 8.41825C129.559 11.1103 130.227 14.3042 130.227 18ZM126.117 18C126.117 14.9658 125.609 12.4049 124.593 10.3175C123.588 8.23004 122.224 6.65019 120.5 5.57795C118.787 4.5057 116.869 3.96958 114.746 3.96958C112.622 3.96958 110.698 4.5057 108.974 5.57795C107.262 6.65019 105.898 8.23004 104.881 10.3175C103.877 12.4049 103.374 14.9658 103.374 18C103.374 21.0342 103.877 23.5951 104.881 25.6825C105.898 27.77 107.262 29.3498 108.974 30.4221C110.698 31.4943 112.622 32.0304 114.746 32.0304C116.869 32.0304 118.787 31.4943 120.5 30.4221C122.224 29.3498 123.588 27.77 124.593 25.6825C125.609 23.5951 126.117 21.0342 126.117 18Z" fill="white"/>
        </svg>
        ul
          li
            a(href="#") Контакты
          li
            a(href="#") О компании
        ul
          li
            a(href="#") Оплата
          li
            a(href="#") Доставка
        ul
          li
            a(href="#") Публичная оферта
          li
            a(href="#") Политика конфиденциальности
    hr
    .container
      .footer-bottom
        .footer-bottom-description
          p © 2022
          a(href="#")
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4805 0H5.51913C2.47588 0 0 2.476 0 5.51924V14.4806C0 17.524 2.47588 19.9999 5.51913 19.9999H14.4805C17.524 19.9999 19.9999 17.5239 19.9999 14.4806V5.51924C20 2.476 17.524 0 14.4805 0ZM18.2255 14.4806C18.2255 16.5455 16.5455 18.2254 14.4806 18.2254H5.51913C3.45433 18.2255 1.77449 16.5455 1.77449 14.4806V5.51924C1.77449 3.45445 3.45433 1.77449 5.51913 1.77449H14.4805C16.5454 1.77449 18.2254 3.45445 18.2254 5.51924V14.4806H18.2255Z" fill="white"/>
            <path d="M9.99996 4.84668C7.1583 4.84668 4.8465 7.15848 4.8465 10.0001C4.8465 12.8417 7.1583 15.1534 9.99996 15.1534C12.8416 15.1534 15.1534 12.8417 15.1534 10.0001C15.1534 7.15848 12.8416 4.84668 9.99996 4.84668ZM9.99996 13.3788C8.13687 13.3788 6.62098 11.8631 6.62098 10C6.62098 8.13681 8.13675 6.62105 9.99996 6.62105C11.8632 6.62105 13.3789 8.13681 13.3789 10C13.3789 11.8631 11.8631 13.3788 9.99996 13.3788Z" fill="white"/>
            <path d="M15.3695 3.34204C15.0276 3.34204 14.6918 3.48045 14.4503 3.72296C14.2077 3.96429 14.0682 4.30026 14.0682 4.64333C14.0682 4.98533 14.2078 5.32118 14.4503 5.5637C14.6917 5.80503 15.0276 5.94462 15.3695 5.94462C15.7126 5.94462 16.0474 5.80503 16.2899 5.5637C16.5324 5.32118 16.6708 4.98522 16.6708 4.64333C16.6708 4.30026 16.5324 3.96429 16.2899 3.72296C16.0486 3.48045 15.7126 3.34204 15.3695 3.34204Z" fill="white"/>
            </svg>
        p Мы используем cookies для быстрой и удобной работы сайта. Продолжая пользоваться сайтом, вы принимаете условия обработки персональных данных

block scripts
  script(src="assets/libs/swiper-bundle.js")
  script(src="assets/scripts/main.min.js")
